:root {
    --primary_color:#3B8EA5 ;
    --secondary_color:#3C3C3B ;
    --accent-color: #D7AC77;
    --background-color: #FFF1D7;
    --heading-font: "Merriweather", serif;
    --body-font: "Inconsolata", serif;
  }

html{
    max-width: 2000px;
    width: 100%; 
    background-color: var(--background-color);
}

a  {
    text-decoration: none; 
}
/* White water rafting section css */
.head {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns:  1fr 1fr 75%;
    background-color: var(--accent-color);
}

.head img {
    grid-column: 2;
    margin: 30px;
}

.head nav {
    grid-column: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


h1, h2, h3, h4, h5, h6 { 
    font-family: var(--heading-font);
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: var(--primary_color);
    text-align: center;
 }

body {
    font-family: var(--heading-font);
    font-weight: 300;
    font-style: normal;
    color: var(--secondary_color);
}

/* White water rafting section css */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

#h1{
    position: absolute;
    top:10px;
    width: 100%;
    background-color: #25130699;
    text-align: center;
}

.art {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: #ffffff99;
}

.art p {
    margin:10px;
}

#artimg {
    float: right;
    width: 300px;
    height: auto;
    margin: 10px;
}

/* History Section css */
.hist {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns:  1fr 1fr 1fr;
    justify-items: center;
    align-items: center; 
}


/* Adventure Section Section css */
.adv {
    margin:20px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

h2 {   
    grid-row: 1;
    grid-column: 1/ 6;
    text-align: center; 
}

.adv img {
    grid-row: 2;
    width: 95%;
    height: auto;
    margin: 2px;
}

/* contact company information */

.info {
    margin: 20px;
    display: grid;
    grid-template: 25% 25% 25% 25%/ 1fr 1fr;
}

.info h1 {
    margin: 20px;
    grid-row: 1;
    grid-column: 1 / 3;
    text-align: center;
}

.info p {
    margin: 20px;
    text-align: right;
    margin:5px;
}

.info iframe {
    width: 70%;
    height: 250px;
    grid-row: 2 / 5;
    grid-column: 2;
    justify-items: center;
    align-items: center;
}

/* contact employee information */
.employee {
    margin-top: 40px;
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3B8EA520;
}

.employee h2 {
    padding: 20px;
}

.employee figure {
    justify-items: center;
    align-items: center;
}

.empimg{
    width: 200px;
    height: auto;
}

/* contact form */

form {
  width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: #ffffff;
  display: grid;
}

fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: var(--primary_color);
    font: var(--heading-font);
    font-size: 20px;
    font-weight: 700;
  }

  label {
    text-align: left;
    padding-right: 1rem;
  }

  label[for = "message"]{
    text-align: center;
  }

  label[for = "subscribe"]{
    text-align: center;
  }

  input[type="radio"] {
    justify-self: left;
  }

  button {
    margin: 1rem;
    background-color: var(--primary_color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    font: var(--heading-font);
    font-weight: 700;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #8bb1bb;
  }

/* footer css */
#footer {
    display:flex;
    padding: 10px;
    background-color: #D7AC77;
    justify-content:space-between;
    flex-direction: row;
}

#footer img {
    width: 30px;
    margin: 10px;
}